<h2 class="mb-5">応募者 一覧</h2>

<% @entries.each do |entry| %>
<div class="border-bottom">
  <% if entry.job.client == current_client %>
    <p><%= entry.user.familyName + entry.user.lastName %></p>
    <p><%= entry.user.created_at.strftime('%Y年%m月%d日%H時%M分') %></p>
    <p><%= entry.job.title %>への応募</p>

    <%= link_to '詳細', job_entry_path(entry.job, entry.user) %>
    <div class="mb-3">
      <%= form_for Room.new do |f| %>
        <%= f.hidden_field :user_id, :value => entry.user.id %>
        <%= f.submit "チャット" %>
      <% end %>
    </div>
</div>    
  <% end %>
<% end %>