<%= form_with(model: article) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field mb-3">
    <%= form.label :タイトル%><br>
    <%= form.text_field :title, class:"col-8" %>
  </div>
  
  <div class="field mb-3">
    <%= form.label :ジャンル %><br>
    <%= form.select :genre, Article.genres.keys, {}, class:"col-2" %>
  </div>

  <div class="field mb-3">
    <%= form.label :内容 %>
    <%= form.rich_text_area :content %>
  </div>

  <div class="actions d-flex justify-content-end">
    <%= form.submit "投稿" %>
  </div>
<% end %>
