<h2 class="mb-5">プロフィール編集</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "clients/shared/error_messages", resource: resource %>


  <div class="field mb-3">
    <%= f.label :会社名 %><br>
    <%= f.text_field :name, class:"col-8" %>
  </div>
  
  <div class="field mb-3">
    <%= f.label :ホームページ %><br>
    <%= f.text_field :homepage, class:"col-8" %>
  </div>

  <div class="row mb-3">
    <div class="col">
      <div class="field">
        <%= f.label :業界 %><br>
        <%= f.text_field :industry %>
      </div>
    </div>
    <div class="col">
      <div class="field">
        <%= f.label :事業内容 %><br>
        <%= f.text_field :business %>
      </div>
    </div>
  </div>
  
  <div class="row mb-3">
    <div class="col">
      <div class="field">
        <%= f.label :従業員数 %><br>
        <%= f.text_field :staff %>
      </div>
    </div>
    <div class="col">
      <div class="field">
        <%= f.label :エンジニア数 %><br>
        <%= f.text_field :engineer %>
      </div>
    </div>
  </div>
  
  <div class="field mb-3">
    <%= f.label :本社所在地 %><br>
    <%= f.text_field :address, class:"col-8" %>
  </div>  
     
  <div class="field mb-3">
    <%= f.label :会社紹介 %><br>
    <%= f.text_area :introduction, class:"col-8", rows:"20" %>
  </div>
  
  <div class="field mb-3">
    <%= f.label :採用担当者名 %><br>
    <%= f.text_field :representativeName, class:"col-8" %>
  </div>

  <div class="field mb-3">
    <%= f.label :メールアドレス %><br>
    <%= f.email_field :email, class:"col-8" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
  
  <div class="row mb-3">
    <div class="col">
      <div class="field">
        <%= f.label :パスワード %> <i>(leave blank if you don't want to change it)</i><br>
        <%= f.password_field :password, autocomplete: "new-password" %>
        <% if @minimum_password_length %><br>
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>
    </div>
    <div class="col">
      <div class="field">
        <%= f.label :パスワード確認 %><br>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
    </div>
  </div>

  <div class="field mb-3">
    <%= f.label :現在のパスワード %> <i>(we need your current password to confirm your changes)</i>
    <%= f.password_field :current_password, autocomplete: "current-password", class:"col-8" %>
  </div>

  <div class="actions">
    <%= f.submit "更新" %>
  </div>
<% end %>

<h3>アカウント削除</h3>

<p>Unhappy? <%= button_to "アカウント削除", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
