<%= form_with(model: job) do |form| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
        <% job.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
    <div class="field mb-3">
      <%= form.label :タイトル %><br>
      <%= form.text_field :title, class:"col-8" %>
    </div>
    
    <div class="field mb-3">
      <%= form.label :雇用形態 %><br>
      <%= form.select :status, Job.statuses.keys, {}, class:"col-2" %>
    </div>
    
    <div class="field mb-3">
      <%= form.label :想定給与 %><br>
      <%= form.text_field :salary, class:"col-8" %>
    </div>
    
    <div class="field mb-3">
      <%= form.label :福利厚生・待遇・休日休暇 %><br>
      <%= form.text_area :benefitProgram, class:"col-8", rows:"10" %>
    </div>

    <div class="field mb-3">
      <%= form.label :研修・育成制度 %><br>
      <%= form.text_area :training, class:"col-8", rows:"10" %>
    </div>

    <div class="field mb-3">
      <%= form.label :主に使用する言語・フレームワーク %><br>
      <%= form.text_field :language, class:"col-8" %>
    </div>

    <div class="field mb-3">
      <%= form.label :求める人物像 %><br>
      <%= form.text_area :characteristics, class:"col-8", rows:"10" %>
    </div>
    
    <div class="field mb-3">
      <%= form.label :歓迎スキル %><br>
      <%= form.text_area :skillset, class:"col-8", rows:"10" %>
    </div>
    
    <div class="field mb-3">
      <%= form.label :選考プロセス %><br>
      <%= form.text_area :selectionProcess, class:"col-8", rows:"10" %>
    </div>
    
    <div class="field mb-3">
      <%= form.label :勤務開始予定日 %><br>
      <%= form.date_select(:startingDate, start_year: Date.today.year, end_year: Date.today.year+2) %>
    </div>
      
    <div class="field mb-3">
      <%= form.label :勤務地 %><br>
      <%= form.select :workplace, Job.workplaces.keys, {}, class:"col-2" %>
    </div>
    
    <div class="field mb-3">
      <%= form.label :アクセス %><br>
      <%= form.text_field :access, class:"col-8" %>
    </div>
    
    <div class="field mb-3">
      <%= form.label :仕事詳細 %><br>
      <%= form.text_area :description, class:"col-8", rows:"20" %>
    </div>
  
  <div class="actions d-flex justify-content-end">
    <%= form.submit "投稿" %>
  </div>
<% end %>
