<div class="d-flex justify-content-between mb-5">
  <h2>求人 一覧</h2>
  <% if client_signed_in? %>
    <%= link_to '新規投稿', new_job_path, class:"btn", style:"background-color: #f7efa2;" %>
  <% end %>  
</div>

<div class="container">
  <div class="row">
    <% @jobs.each do |job| %>
      <div class="col-4">
        <div class="card mb-3" style="width: 20rem;">
          <div class="card-body">
            <h3 class="card-title"><%= job.title %></h3>
            <h4 class="card-subtitle mb-2 text-muted"><%= job.client.name %></h4>
            <p class="card-text"><%= job.created_at.strftime('%Y年%m月%d日%H時%M分') %></p>
            <p class="card-text"><%= truncate(job.description, length:23) %></p>
            
            <div class="actions d-flex justify-content-end">
              <%= link_to '詳細', job, class:"btn", style:"background-color: #f7efa2;" %>
              <% if client_signed_in? && job.client == current_client %>
                <%= link_to '編集', edit_job_path(job), class:"btn", style:"background-color: #f7efa2;" %>
                <%= link_to '削除', job, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn", style:"background-color: #f7efa2;" %>
              <% elsif user_signed_in? %>
                <%= link_to "応募", job_entries_path(job), method: :post, data: { confirm: "登録データが企業へ送られます。応募してよろしいですか?" }, class:"btn", style:"background-color: #f7efa2;" %>
              <% end %>
            </div>
            
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
