<h2 class="mb-5">求職者 一覧</h2>
<% @users.each do |user| %>
  <div class="border-bottom">
    <div class="d-flex justify-content-between">
      <h3><%= user.familyName + user.lastName %>(<%= user.familyNameDetail + user.lastNameDetail %>)</h3>
      <%= link_to '詳細', user_path(user), class:"btn", style:"background-color: #f7efa2;" %>
    </div>
    <div class="d-flex justify-content-between">
      <%= user.gender %>
      <%=user.birthdate %>
    </div>  
  </div>  
<% end %>