<div class="card mb-3">
  <div class="card-header">
    <div class="d-flex justify-content-between">
      <h2><%= @user.familyName + @user.lastName %></h2>
    </div>
  </div> 
  <div class="card-body">
    <div class="container">
      <div class="row mb-3">
        <div class="col-4">氏名</div>
        <div class="col"><%= @user.familyName + @user.lastName %></div>
      </div>
      <div class="row mb-3">
        <div class="col-4">フリガナ</div>
        <div class="col"><%= @user.familyNameDetail + @user.lastNameDetail %></div>        
      </div>
      <div class="row mb-3">
        <div class="col-4">性別</div>
        <div class="col"><%= @user.gender %></div>
      </div>
      <div class="row mb-3">
        <div class="col-4">生年月日</div>
        <div class="col"><%= @user.birthdate %></div>
      </div>
      <div class="row mb-3">
        <div class="col-4">居住地</div>
        <div class="col"><%= @user.prefecture %></div>        
      </div>
      <div class="row mb-3">
        <div class="col-4">高校卒業年月</div>
        <div class="col"><%= @user.firstEducation %></div>
      </div>     
      <div class="row mb-3">
        <div class="col-4">卒業高校</div>
        <div class="col"><%= @user.firstEducationDetail %></div>
      </div>
      <div class="row mb-3">
        <div class="col-4">大学・短大・専門学校等卒業年月</div>
        <div class="col"><%= @user.secondEducation %></div>        
      </div>
      <div class="row mb-3">
        <div class="col-4">卒業学校名</div>
        <div class="col"><%= @user.secondEducationDetail %></div>
      </div>
      <div class="row mb-3">
        <div class="col-4">その他（大学院等）卒業年月</div>
        <div class="col"><%= @user.thirdEducation %></div>
      </div>
      <div class="row mb-3">
        <div class="col-4">卒業学校・教育機関名</div>
        <div class="col"><%= @user.thirdEducationDetail %></div>        
      </div>
      <div class="row mb-3">
        <div class="col-4">職歴1</div>
        <div class="col"><%= @user.firstCareer %></div>
      </div>
      <div class="row mb-3">
        <div class="col-4">会社名・役職</div>
        <div class="col"><%= @user.firstCareerDetail %></div>
      </div>
      <div class="row mb-3">
        <div class="col-4">職歴2</div>
        <div class="col"><%= @user.secondCareer %></div>        
      </div>
      <div class="row mb-3">
        <div class="col-4">会社名・役職</div>
        <div class="col"><%= @user.secondCareerDetail %></div>
      </div>  
      <div class="row mb-3">
        <div class="col-4">職歴3</div>
        <div class="col"><%= @user.thirdCareer %></div>
      </div>
      <div class="row mb-3">
        <div class="col-4">会社名・役職</div>
        <div class="col"><%= @user.thirdCareerDetail %></div>        
      </div>
      <div class="row mb-3">
        <div class="col-4">資格</div>
        <div class="col"><%= @user.certification %></div>
      </div>  
      <div class="row mb-3">
        <div class="col-4">エンジニア志望理由</div>
        <div class="col"><%= @user.reason %></div>        
      </div>
      <div class="row mb-3">
        <div class="col-4">学習期間</div>
        <div class="col"><%= @user.duration %></div>
      </div>  
      <div class="row mb-3">
        <div class="col-4">学習・情報収集に使用しているサイト・書籍</div>
        <div class="col"><%= @user.resource %></div>        
      </div>
      <div class="row mb-3">
        <div class="col-4">学習した言語・フレームワーク</div>
        <div class="col"><%= @user.language %></div>
      </div>
      <div class="row mb-3">
        <div class="col-4">ポートフォリオ</div>
        <div class="col"><%= @user.portfolio %></div>        
      </div>
      <div class="row mb-3">
        <div class="col-4">希望勤務地</div>
        <div class="col"><%= @user.workplace %></div>
      </div>  
      <div class="row mb-3">
        <div class="col-4">希望給与</div>
        <div class="col"><%= @user.salary %></div>        
      </div>
      <div class="row mb-3">
        <div class="col-4">勤務開始可能日</div>
        <div class="col"><%= @user.startingDate %></div>
      </div>  
      <div class="row mb-3">
        <div class="col-4">自己紹介</div>
        <div class="col"><%= @user.introduction %></div>
      </div>

      <% if client_signed_in? %>
        <h3>スカウトメッセージを送る</h3>
        <p>*必ずしも求職者様から応募があるわけではございません。</p>
        <%= form_with model:@scout, url:user_scouts_path(@user), local: true do |f| %>
          <div>
            <h4><%= f.label :メッセージ入力 %></h4>
            <%= f.text_area :message, class:"col-sm-10", rows:"10" %><br>
            <%= f.submit "スカウト送信", data: { confirm: "送信してよろしいですか?" } %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>   
</div>  
