<div class="card mb-3">
  <div class="card-header">
    <div class="d-flex justify-content-between">
      <h2><%= @client.name %></h2>
    </div>
  </div> 
  <div class="card-body">
    <div class="container">
      <div class="row mb-3">
        <div class="col-2">ホームページ</div>
        <div class="col"><%= @client.homepage %></div>
      </div>
      <div class="row mb-3">
        <div class="col-2">業界</div>
        <div class="col"><%= @client.industry %></div>        
      </div>
      <div class="row mb-3">
        <div class="col-2">事業内容</div>
        <div class="col"><%= @client.business %></div>
      </div>  
      <div class="row mb-3">
        <div class="col-2">従業員数</div>
        <div class="col"><%= @client.staff %></div>
      </div>  
      <div class="row mb-3">
        <div class="col-2">エンジニア人数</div>
        <div class="col"><%= @client.engineer %></div>
      </div>
      <div class="row mb-3">
        <div class="col-2">本社所在地</div>
        <div class="col"><%= @client.address %></div>      
      </div>  
      <div class="row mb-3">
        <div class="col-2">採用担当者</div>
        <div class="col"><%= @client.representativeName %></div>    
      </div>  
      <div class="row mb-3">
        <div class="col-2">会社紹介</div>
        <div class="col"><%= @client.introduction %></div>
      </div>
    </div>
  </div>
</div>

<h3 class="mb-3"><%= @client.name %> 求人一覧</h3>
<div class="container mb-3">
  <div class="row">
    <% @jobs.each do |job| %>
      <div class="col-4">
        <div class="card mb-3" style="width: 20rem;">
          <div class="card-body">
            <h3 class="card-title"><%= job.title %></h3>
            <h4 class="card-subtitle mb-2 text-muted"><%= job.client.name %></h4>
            <p class="card-text"><%= job.created_at.strftime('%Y年%m月%d日%H時%M分') %></p>
            <p class="card-text"><%= truncate(job.description, length:23) %></p>
            
            <div class="actions d-flex justify-content-end">
              <%= link_to '詳細', job, class:"btn", style:"background-color: #f7efa2;" %>
              <% if client_signed_in? && job.client == current_client %>
                <%= link_to '編集', edit_job_path(job), class:"btn", style:"background-color: #f7efa2;" %>
                <%= link_to '削除', job, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn", style:"background-color: #f7efa2;" %>
              <% elsif user_signed_in? %>
                <%= link_to "応募", job_entries_path(job), method: :post, data: { confirm: "登録データが企業へ送られます。応募してよろしいですか?" }, class:"btn", style:"background-color: #f7efa2;" %>
              <% end %>
            </div>
            
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<h3 class="mb-3"><%= @client.name %> 記事一覧</h3>
<% @articles.each do |article| %>
  <div class="card mb-3">
    <div class="card-header">
      <div class="d-flex justify-content-between">
        <h3><%= article.title %></h3>
        <div><%= article.created_at.strftime('%Y年%m月%d日') %></div>
      </div>
    </div>
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <h3 class="card-title"><%= article.client.name %></h3>
        <%= article.genre %>
      </div>
      <p class="card-text"><%= article.content %></p>
      <div class="d-flex justify-content-end">
        <%= link_to '詳細', article, class:"btn", style:"background-color: #f7efa2;" %>
      </div>
    </div>
  </div>
<% end %>