<h2 class="mb-5">チャット 一覧</h2>

<% if user_signed_in? %>
  <% @rooms.each do |room| %>
    <div class="border-bottom">
      <div class="d-flex justify-content-between mb-3">
        <h3><%= room.client.name %></h3>
        <%= link_to "チャット", room_path(room), class:"btn", style:"background-color: #f7efa2;" %>
      </div>
      <p><%= room.created_at.strftime('%Y年%m月%d日') %>にチャットを開始しました</p>
    </div>  
  <% end %>
<% elsif client_signed_in? %>
  <% @rooms.each do |room| %>
    <div class="border-bottom">
      <div class="d-flex justify-content-between mb-3">
        <h3><%= room.user.familyName + room.user.lastName %></h3>
        <%= link_to "チャット", room_path(room), class:"btn", style:"background-color: #f7efa2;" %>
      </div>  
      <p><%= room.created_at.strftime('%Y年%m月%d日') %>にチャットを開始しました</p>
    </div>
  <% end %>
<% end %>