<!DOCTYPE html>
<html>
  <head>
    <title>Novicrew</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #f7efa2;">
      <div class="container">
      <h1 class="navbar-brand">Novicrew</h1>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <% if user_signed_in? %>
              <li><%= link_to "求人一覧", jobs_path, class:"nav-item mr-3" %></li>
              <li><%= link_to "記事一覧", articles_path, class:"nav-item mr-3" %></li>
              <li><%= link_to "企業一覧", clients_path, class:"nav-item mr-3" %></li>              
              <li><%= link_to "スカウト管理", scouts_path, class:"nav-item mr-3" %></li>
              <li><%= link_to "チャット", rooms_path, class:"nav-item mr-3" %></li>
              <li><%= link_to "プロフィール編集", edit_user_registration_path, class:"nav-item mr-3" %></li>
              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, data: { confirm: "ログアウトしてよろしいですか?" }, class:"nav-item mr-3" %></li>
            <% elsif client_signed_in? %>
              <li><%= link_to 'ホーム', home_path, class:"nav-item mr-3" %></li>
              <li><%= link_to "仕事一覧", jobs_path, class:"nav-item mr-3" %></li>
              <li><%= link_to "記事一覧", articles_path, class:"nav-item mr-3" %></li>
              <li><%= link_to "スカウト", users_path, class:"nav-item mr-3" %></li>
              <li><%= link_to "応募管理", entries_path, class:"nav-item mr-3" %></li>
              <li><%= link_to "チャット", rooms_path, class:"nav-item mr-3" %></li>
              <li><%= link_to "プロフィール編集", edit_client_registration_path, class:"nav-item mr-3" %></li>
              <li><%= link_to "ログアウト", destroy_client_session_path, data: { confirm: "ログアウトしてよろしいですか?" }, method: :delete, class:"nav-item mr-3" %></li>
            <% else %>
              <li><%= link_to "仕事一覧", jobs_path, class:"nav-item mr-3" %></li>
              <li><%= link_to "記事一覧", articles_path, class:"nav-item mr-3" %></li>
              <li><%= link_to "採用担当者の方はこちら", new_client_session_path, class:"nav-item mr-3" %></li>
              <li><%= link_to "求職者の方はこちら", new_user_session_path, class:"nav-item mr-3" %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
      <br>
      <br>

        <p class="text-center">&copy;Novicrew</p>

    </div>
  </body>
</html>
