<h2 class="mb-5">プロフィール編集</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="row mb-3">
    <div class="col">
      <div class="field">
        <%= f.label :姓 %>
        <%= f.text_field :familyName %>
      </div>
    </div>  
    <div class="col">
      <div class="field">
        <%= f.label :名 %>
        <%= f.text_field :lastName %>
      </div>
    </div>
  </div>  
  
  <div class="row mb-3">
    <div class="col">
      <div class="field">
        <%= f.label :セイ %>
        <%= f.text_field :familyNameDetail %>
      </div>
    </div>
    <div class="col">
      <div class="field">
        <%= f.label :メイ %>
        <%= f.text_field :lastNameDetail %>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col">
      <div class="field">
        <%= f.label :性別 %>
        <%= f.select :gender, User.genders.keys, {} %>
      </div>
    </div>  
    <div class="col">
      <div class="field">
        <%= f.label :生年月日 %>
        <%= f.date_select(:birthdate, start_year: 1970, end_year: Date.today.year) %>
      </div>
    </div>  
    <div class="col">
      <div class="field">
        <%= f.label :居住地 %>
        <%= f.select :prefecture, User.prefectures.keys, {} %>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col">
      <div class="field">
        <%= f.label :高校卒業年月日 %>
        <%= f.text_field :firstEducation %>
      </div>
    </div>
    <div class="col">
      <div class="field">
        <%= f.label :卒業高校名 %>
        <%= f.text_field :firstEducationDetail %>
      </div>
    </div>
  </div>  
  
  <div class="row mb-3">
    <div class="col">
      <div class="field">
        <%= f.label :大学・短大・専門学校等卒業年月日 %>
        <%= f.text_field :secondEducation %>
      </div>
    </div>
    <div class="col">
      <div class="field">
        <%= f.label :卒業学校名 %>
        <%= f.text_field :secondEducationDetail %>
      </div>
    </div>
  </div>
    
  <div class="row mb-3">
    <div class="col">
      <div class="field">
        <%= f.label :その他（大学院等）卒業年月日 %>
        <%= f.text_field :thirdEducation %>
      </div>
    </div>  
    <div class="col">
      <div class="field">
        <%= f.label :卒業学校・教育機関名 %>
        <%= f.text_field :thirdEducationDetail %>
      </div>
    </div>
  </div>  
    
  <div class="row mb-3">
    <div class="col">  
      <div class="field">
        <%= f.label :入社年月日・退社年月日 %>
        <%= f.text_field :firstCareer %>
      </div>
    </div>
    <div class="col">  
      <div class="field">
        <%= f.label :会社名・役職 %>
        <%= f.text_field :firstCareerDetail %>
      </div>
    </div>
  </div>
  
  <div class="row mb-3">
    <div class="col">  
      <div class="field">
        <%= f.label :入社年月日・退社年月日 %>
        <%= f.text_field :secondCareer %>
      </div>
    </div>
    <div class="col">  
      <div class="field">
        <%= f.label :会社名・役職 %>
        <%= f.text_field :secondCareerDetail %>
      </div>
    </div>
  </div>
      
  <div class="row mb-3">
    <div class="col">  
      <div class="field">
        <%= f.label :入社年月日・退社年月日 %>
        <%= f.text_field :thirdCareer %>
      </div>
    </div>
    <div class="col">  
      <div class="field">
        <%= f.label :会社名・役職 %>
        <%= f.text_field :thirdCareerDetail %>
      </div>
    </div>
  </div>
  
  <div class="field mb-3">
    <%= f.label :資格 %>
    <%= f.text_field :certification, class:"col-sm-6" %>
  </div>
    
  <div class="field mb-3">
    <%= f.label :エンジニア志望理由 %>
    <%= f.text_area :reason, class:"col-sm-6" %>
  </div>    
  
  <div class="field mb-3">
    <%= f.label :学習期間 %>
    <%= f.text_field :duration, class:"col-sm-6" %>
  </div>    
    
  <div class="field mb-3">
    <%= f.label :学習・情報収集に使用しているサイト・書籍 %>
    <%= f.text_field :resource, class:"col-sm-6" %>
  </div>    
    
  <div class="field mb-3">
    <%= f.label :学習した言語・フレームワーク %>
    <%= f.text_field :language, class:"col-sm-6" %>
  </div>        
    
  <div class="field mb-3">
    <%= f.label :ポートフォリオ %>
    <%= f.text_field :portfolio, class:"col-sm-6" %>
  </div>        
  
  <div class="row mb-3">
    <div class="col">
      <div class="field">
        <%= f.label :希望勤務地 %>
        <%= f.select :workplace, User.workplaces.keys, {}  %>
      </div>
    </div> 
    <div class="col">
      <div class="field">
        <%= f.label :希望給与 %>
        <%= f.text_field :salary %>
      </div>
    </div>       
    <div class="col">
      <div class="field">
        <%= f.label :勤務開始可能日 %>
        <%= f.date_select(:startingDate, start_year: Date.today.year, end_year: Date.today.year+2)  %>
      </div>
    </div>
  </div>          
  
  <div class="field mb-3">
    <%= f.label :自己紹介 %>
    <%= f.text_area :introduction, class:"col-sm-6" %>
  </div>        
  
  <div class="field mb-3">
    <%= f.label :メールアドレス %>
    <%= f.email_field :email %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="row mb-3">
    <div class="col">
      <div class="field">
        <%= f.label :パスワード%> <i>(leave blank if you don't want to change it)</i>
        <%= f.password_field :password, autocomplete: "new-password" %>
        <% if @minimum_password_length %>
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>
    </div>
    <div class="col">
      <div class="field">
        <%= f.label :パスワード確認 %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
    </div>
  </div>

  <div class="field mb-3">
    <%= f.label :現在のパスワード %> <i>(we need your current password to confirm your changes)</i>
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "更新" %>
  </div>
<% end %>

<h3>アカウント削除</h3>

<p>Unhappy? <%= button_to "アカウント削除", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
